# === Git and Docker ===
**/.git
**/.gitignore
**/.gitattributes
**/.dockerignore
**/Dockerfile*
!src/Jiban.Api/Dockerfile.production
**/docker-compose*
**/.env*
**/secrets.*.yaml

# === Documentation ===
LICENSE
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
**/docs
**/*.md

# === .NET build output ===
**/bin/
**/obj/
**/TestResults/
**/out/
**/coverage/
**/*.user
**/*.suo
**/*.dbmdl
**/*.log
**/*.tlog

# === Node / Frontend ===
**/node_modules/
**/dist/
**/build/

# === AppSettings ===
**/appsettings.*.json
!**/appsettings.json